@import '../../styles/_variables.scss';

.ltv-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ltv-content-with-sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.ltv-main-content {
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  border-radius: var(--radius-xl);
  box-shadow: var(--color-shadow);
}

@media (max-width: 900px) {
  .ltv-content-with-sidebar {
    flex-direction: column;
  }
  .ltv-main-content {
    margin: 10px;
    padding: 15px;
  }
}
